.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cartList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  position: relative;

  &::before {
    content: "";
    height: 1px;
    width: 100%;
    top: -14px;
    position: absolute;
    background-color: #dee2e6;
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.cart-text {
  font-size: 16px;
  color: #868e96;
}
